<div class="head" [ngClass]="getHeadClass()">
  <div class="head-content">
    <div class="head-content-left">
      <!-- <div class="search-container">
        <div class="normal-search">
          <input type="search" class="search" name="" id="" placeholder="Search...">
          <i class="far fa-search search-icon"></i>
        </div>
      </div> -->
      <div class="dateHour">
        <i class="hourIcon" [ngClass]="getHourClass()"></i>
        <span class="textTime"><b>{{textTime}}</b></span>
        <span class="nameUser"><b> {{nameUser}}</b></span>
        <span class="dateHourContent">{{dateTime | date:'dd/MM/yyyy &bull; HH:mm:ss'}}</span>
      </div>
    </div>
    <div class="head-content-right">
      <div class="head-menu">
        <!-- <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
              <i class="far fa-expand menu-icon"></i>
          </button>
        </div> -->
        <div class="head-menu-item" *ngIf="!isMobile">
          <button class="head-menu-item-btn ripple">
            <i class="far fa-bell menu-icon"></i>
          </button>
        </div>
      </div>
      <div class="head-user-avatar-container">
        <div class="head-user-avatar" [cdkMenuTriggerFor]="userOverlay">
          <img src="../../assets/reddit.jpg" alt="user" class="user-avatar">
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #userOverlay>
  <div class="overlay overlay-user overlay-fall" cdkMenu>
    <ul>
      <li *ngFor="let item of userItems">
        <span class="userNameTooltip">{{item.name}}</span>
        <a>
          <i class="icon" [ngClass]="item.icon"></i>
          <span>{{item.label}}</span>
        </a>
      </li>
    </ul>
  </div>
</ng-template>
