.btn-saga-submit {
  background: #35E18B;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0 .25rem .5rem #A8ABAE;
}

.suport-body{
  padding-left: 32rem;
  padding-right: 32rem;
  text-align: center;
  display: flex;
  align-content: center;
}
