<div class="row">
  <div class="col-md-12">
    <h3>PTDs</h3>
    <h6>/Matérias/PTDs</h6>
  </div>
</div>

<div class="row col-md-12 m-0 px-0 pb-0 pt-4">
  <div class="col-md-8"></div>
  <div class="filtersMentions row col-md-4">
    <div class="col-md-6 pr-2">
      <label for="serie">Matéria:</label>
      <dx-text-box name="filterTeacher" placeholder="Pesquise a matéria">
        <dxi-button name="iconSearchFilter" location="after" [options]="{
          icon: 'search',
          type: 'default',
          stylingMode: 'text',
          disabled: true
      }">
        </dxi-button>
      </dx-text-box>
    </div>
    <div class="col-md-3 pr-2 pl-0">
      <label for="serie">Série:</label>
      <dx-select-box name="serie" [items]="dummySelectBox" [value]="dummySelectBox[0]" [showClearButton]="false">
      </dx-select-box>
    </div>
    <div class="col-md-3 px-0">
      <label for="serie">Semestre:</label>
      <dx-select-box name="serie" [items]="dummySelectBox" [value]="dummySelectBox[0]" [showClearButton]="false">
      </dx-select-box>
    </div>
  </div>

  <div class="row col-md-12">
    <div class="card-saga col-md-12 p-0 mt-2">
      <div class="card-head-saga">
        <div class="row col-md-12 p-0 mx-0">
          <div class="col-md-10 text-left">
            Matéria
          </div>
          <div class="col-md-2 text-right pr-4">
            Ações
          </div>
        </div>
      </div>

      <dx-scroll-view [scrollByThumb]="true" class="without-padding-x">
        <div class="card-body-saga" *ngFor="let data of dummyData">

          <div class="row col-md-12 p-0 mx-0">
            <div class="col-md-10 text-left">
              {{data.materia}}
            </div>
            <div class="col-md-2 text-right">
              <button type="button" class="btn btn-outline-dark sg-button-in-column" (click)="dummyClick()">
                <i class="far fa-eye"></i>
              </button>
              &nbsp;
              <button type="button" class="btn btn-outline-primary sg-button-in-column" (click)="dummyClick()">
                <i class="far fa-print"></i>
              </button>
            </div>
          </div>
        </div>
      </dx-scroll-view>
    </div>
  </div>
