<div class="login-body">

  <div class="cardmk2">
    <img src="../../assets/logo.svg" class="logomk2">

    <div class="form-container">
      <div class="row col-md-12 p-0 m-0 teste">
        <div class="col-md-7 pl-0 text">
          <label for="loginType">Entrar Como</label>
          <dx-select-box height="45" class="form-control login-deep" [items]="typeDummy" [value]="typeDummy[0]"
            style="border: none; background: #EDF1F5;">
          </dx-select-box>
        </div>

        <div class="col-md-3 px-0">
          <label for="code">Código Etec</label>
          <dx-text-box height="45" class="form-control login-deep" style="border: none; background: #EDF1F5;">
          </dx-text-box>
        </div>
        <div class="sgButton-login col pr-0">
          <button type="submit" class="btn btn-saga-login" (click)="login()">?</button>
        </div>
      </div>


      <div class="text pt-3">
        <label for="rm">RM</label>
        <dx-text-box height="45" [(ngModel)]="user.rm" class="form-control login-deep"
          style="border: none; background: #EDF1F5;">
        </dx-text-box>
      </div>

      <div class="pass pt-3">
        <label for="senha">Senha</label>
        <dx-text-box mode="password" height="45" placeholder="Enter password" [showClearButton]="false"
          [(ngModel)]="user.password" class="form-control login-deep" style="border: none; background: #EDF1F5;">
        </dx-text-box>
      </div>

      <div class="pass pt-4">
        <button class="btn btn-saga-submit" (click)="login()">Entrar</button>
      </div>
    </div>
  </div>



  <div class="footer-sagamk2">
    <img class="img-desktop" src="../../assets/footer.svg">
  </div>

</div>
