.sgButton {
  padding-top: 24px;
}

.filtersMentions {
  text-align: right;
}

.headersMentions {
  font-size: 13px;
  text-align: right;
  padding-right: 44px;
}

button.sg-button-in-column{
  padding: 0;
  height: 24px;
  width: 24px;
  align-content: center;
}

@media only screen and (max-width: 600px) {
  .body-teachers {
    justify-content: center;
  }
}
