.sg-card-grid{
  height: 58px;
  background-color: #F7F8FA;
  border-radius: 8px;
}

.turma-a{
  line-height: 48px;
  border-top: outset 6px #ffbbff;
  border-radius: 6px;
}

.turma-b{
  line-height: 48px;
  border-top: outset 6px #817;
  border-radius: 6px;
}

.todos{
  line-height: 48px;
  border-top: outset 6px #CFD8DC;
  border-radius: 6px;
}
