<div class="col-md-8">
  <h3>Grade</h3>
  <h6>/Matérias/Grade</h6>
</div>

  <div class="row col-md-12 pt-4" [ngClass]="{'px-0': isMobile}">
    <div class="card-saga col-md-12 p-0 mt-2">
      <div class="card-head-saga">
        <div class="row col-md-12 p-0 mx-0" *ngIf="!isMobile">
          <div class="col-md-2 text-center">
            Segunda
          </div>
          <div class="col-md-2 text-center">
            Terça
          </div>
          <div class="col-md-2 text-center">
            Quarta
          </div>
          <div class="col-md-2 text-center">
            Quinta
          </div>
          <div class="col-md-2 text-center">
            Sexta
          </div>
          <div class="col-md-2 text-center">
            Sábado
          </div>
        </div>
      </div>
        <div class="card-body-saga" *ngFor="let data of dummyData">
          <div class="row col-md-12 p-0 mx-0" *ngIf="!isMobile">
            <div class="col-md-2">
              <div class="card text-center sg-card-grid"><span [ngClass]="teste()">{{data.teste}}</span></div>
            </div>
            <div class="col-md-2">
              <div class="card text-center sg-card-grid"><span [ngClass]="teste()">{{data.teste}}</span></div>
            </div>
            <div class="col-md-2">
              <div class="card text-center sg-card-grid"><span [ngClass]="teste()">{{data.teste}}</span></div>
            </div>
            <div class="col-md-2">
              <div class="card text-center sg-card-grid"><span [ngClass]="teste()">{{data.teste}}</span></div>
            </div>
            <div class="col-md-2">
              <div class="card text-center sg-card-grid"><span [ngClass]="teste()">{{data.teste}}</span></div>
            </div>
            <div class="col-md-2">
              <div class="card text-center sg-card-grid"><span [ngClass]="teste()">{{data.teste}}</span></div>
            </div>
          </div>
        </div>
    </div>
  </div>
