.sgButton {
  padding-top: 24px;
}

.filtersMentions {
  text-align: right;
}

.situationSerie {
  padding-top: 27px;
}

.headersMentions {
  font-size: 13px;
  text-align: right;
  padding-right: 44px;
}
