<div class="col-md-8">
  <h3>início</h3>
  <h6>/Início</h6>
</div>
<div class="body-home row col-md-12 m-0 p-0">
  <div class="row col-lg-7 col-sm-12" [ngClass]="{'p-0': isMobile}">
    <div class="card-saga col-md-12 p-0">
      <div class="card-head-saga">
        <div class="row col-md-12" *ngIf="isMobile" style="justify-content: center;">
          Mensagens
        </div>
        <div class="row col-md-12 p-0" *ngIf="!isMobile">
          <div class="col-md-9">
            Mensagens para o Aluno
          </div>
          <div class="col-md-3 text-left">
            Data e Hora
          </div>
        </div>
      </div>
      <dx-scroll-view [scrollByThumb]="true" class="without-padding-x">
        <div class="card-body-saga" *ngFor="let data of dummyData">

          <div class="row col-md-12 p-0" *ngIf="!isMobile">
            <div class="col-md-9 gc-col-ellipsis">
              {{data.messages}}
            </div>
            <div class="col-md-3 text-left">
              {{data.date}} às {{data.Hour}}
            </div>
          </div>

          <div class="row col-md-12 p-0" *ngIf="isMobile">
            <div class="col-md-12 gc-col-ellipsis">
             <b>Mensagem:</b> {{data.messages}}
            </div>
            <div class="col-md-12">
              <b>Data:</b>{{data.date}}
            </div>
            <div class="col-md-12">
              <b>Hora: </b>{{data.Hour}}
            </div>
          </div>

        </div>
      </dx-scroll-view>
    </div>
  </div>

  <div class="row col-lg-5 col-md-12 p-0" [ngClass]="{'ml-3 ': !isMobile}">
    <div class="card-saga col-md-12 p-0">
      <div class="card-head-saga" [ngClass]="{'text-center': isMobile}">Notícias</div>
      <dx-scroll-view [scrollByThumb]="true" class="without-padding-x">
        <div class="card-body-saga gc-col-ellipsis" *ngFor="let data of dummyNews">
          <span>{{data.news}}</span>
        </div>
      </dx-scroll-view>
    </div>
  </div>
</div>
